.close{
    font-size: 2.5rem;
}
.cursor-hand{
  cursor: pointer
}

.modal{
    z-index: 10000 !important;
}

.telego-editable-input{
	display: none;
}

.hidden-empty-row{
	display: none;
}

.transparent-element {	/*profile*/
    outline: none;	
    border: 0;	
    box-shadow: none;	  
    background-color: transparent !important;
}

.img-thumbnail{        	/*about me*/
    width: 200px;	
    height: 200px;	   
    overflow: auto;	
}

.form-group.required .control-label:after {
    content:"*";
    color:red;
  }


  .main {
    width: 70%;
    margin: 50px auto;
}


/*search*/


.nb2 {
    margin-bottom: -.5rem;
}
.nr4 {
    margin-right: -1.5rem;
}
.nl4 {
    margin-left: -1.5rem;
}
.ma0 {
    margin: 0;
}
.pa0 {
    padding: 0;
}
.list {
    list-style-type: none;
}
.justify-start {
    -webkit-box-pack: start;
    /*-ms-flex-pack: start;*/
    justify-content: flex-start;
}
.items-stretch {
    -webkit-box-align: stretch;
   /* -ms-flex-align: stretch;*/
    align-items: stretch;
}
.flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
   /* -ms-flex-direction: row;*/
    flex-direction: row;
}
.flex {
   /*display: -webkit-box;
    display: -ms-flexbox;*/
    display: flex;
}
  ul{
    box-sizing: border-box;
}

user agent stylesheet
ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.gray7 {
    color: #495057;
}

html {
    font-size: 16px;
}

html {
    font-size: 16px;
}
html {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    font-family: fa5-proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
    
}
html {
    line-height: 1.15;
    
}
user agent stylesheet

*, *::before, *::after {
    
    box-sizing: inherit;
}
