.close{
    font-size: 2.5rem;
}
.cursor-hand{
  cursor: pointer
}

.modal{
    z-index: 10000 !important;
}

.telego-editable-input{
	display: none;
}

.hidden-empty-row{
	display: none;
}

.transparent-element {	/*profile*/
    outline: none;	
    border: 0;	
    box-shadow: none;	  
    background-color: transparent !important;
}

.img-thumbnail{        	/*about me*/
    width: 200px;	
    height: 200px;	   
    overflow: auto;	
}

.form-group.required .control-label:after {
    content:"*";
    color:red;
  }
